<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.test.one.GetApiTest"/>
      <class name="com.test.one.GetApiTest2"/>
    </classes>
  </test> <!-- Test -->
  <listeners>
        <listener class-name="com.test.tools.ExtentTestNGIReporterListener"/>
    </listeners>
  
</suite> <!-- Suite -->